<form #sumForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
            
    <div class="form-group mx-sm-3 mb-2">
        <label for="operator1" class="sr-only">Number</label>
        <input type="text" class="form-control" name="operator1"
            placeholder="Number" [(ngModel)]="operation.operator1" #operator1="ngModel" required>
        <p [hidden]="!operator1.pristine" class="alert alert-danger">Number is required</p>
    </div>
    <h3 class="text-white">+</h3>
    <div class="form-group mx-sm-3 mb-2">
      <label for="operator2" class="sr-only">Number</label>
      <input type="text" class="form-control"  name="operator2"
          placeholder="Number" [(ngModel)]="operation.operator2" #operator2="ngModel" required>
      <p [hidden]="!operator2.pristine" class="alert alert-danger">Number is required</p>
    </div>
    <button type="submit" class="btn btn-primary mb-2" [disabled]="!sumForm.form.valid">SUM</button>
    <h4 class="text-white ml-4">{{ message }}</h4>
</form>
