<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h1 class="card-title text-center text-white py-3">{{ title }}</h1>

          <app-sum-form></app-sum-form>
          <app-operation-form operationType='PRODUCT' endpoint='product'></app-operation-form>
          <app-operation-form operationType='POWER' endpoint='power'></app-operation-form>
          
          <h2 class="text-white mt-5">List of previous operations:</h2>
          <div class="col-md-10">
            <app-operation-list></app-operation-list>
          </div>

        </div>

      </div>
    </div>

    
  </div>
</div>